# Documentation: https://direnv.net/man/direnv-stdlib.1.html
dotenv_if_exists .env.local
dotenv_if_exists
dotenv_if_exists

if has nix; then
  if test -e .flake/flake.nix; then
    use flake .flake
  elif test -e flake.nix; then
      use flake
  fi
fi
