# Copyright 2024, identinet GmbH. All rights reserved.
# SPDX-License-Identifier: MIT

[Unit]
Description=Invoke haproxy-k8s

[Service]
Type=oneshot
ExecStart=/usr/local/bin/haproxy-k8s.nu

# vi: ft=toml:tw=80:sw=2:ts=4:sts=4:et
