UserKnownHostsFile ${cwd}/.ssh/known_hosts
User root

Host gateway
HostName ${cluster_ip}
Port 22

# Alias for control plane main serever
Host cluster
ProxyCommand ${cwd}/ssh-node gateway nc ${control_plane_init_ip} %p
%{ for pool in node_pools ~}
%{ for name, node in pool.nodes ~}

Host ${name}
ProxyCommand ${cwd}/ssh-node gateway nc ${node.private.0} %p
%{ endfor ~}
%{ endfor ~}
